<dialog id="dialog-error">
    <div class="content">
        <h2>¡Algo salió mal!</h2>
        <p>No se pudo procesar tu solicitud. <br>Intenta nuevamente.</p>
    </div>
    <button class="accept-btn">Ok</button>
    <button class="cancel-btn">Cancel</button>
</dialog>