<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Control Gastos</title>
    <link rel="icon" href="/img/icon.png" type="image/png">
    <!--Font Awesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!--Custom CSS -->
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <!---->
    <div class="container">
        <!--SideBar-->
        <div class="sidebar">
            <div class="sidebar-header">
                <img class="logo" src="/img/icon.png" alt="">
                <h2 class="app-name">ATCH</h2>
            </div>
            <hr>
            <ul>
                <li><a class="sidebar-link" href="/" id="btn-index">
                    <i class="fa-solid fa-house"></i>
                    <span>HOME</span>
                </a></li>
                <li><a class="sidebar-link" href="/inventario" id="btn-inventario">
                    <i class="fa-solid fa-archive"></i>
                    <span>Inventario</span>
                </a></li>
                <li><a class="sidebar-link" href="/entradas" id="btn-entradas">
                    <i class="fa-solid fa-arrow-up"></i>
                    <span>Entradas</span>
                </a></li>
                <li><a class="sidebar-link" href="/salidas" id="btn-salidas">
                    <i class="fa-solid fa-arrow-down"></i>
                    <span>Salidas</span>
                </a></li>
                <hr>
                <li><a class="sidebar-link" href="/articulos" id="btn-articulos">
                    <i class="fa-solid fa-box"></i>
                    <span>Articulos</span>
                </a></li>
                <li><a class="sidebar-link" href="/unidades-medida" id="btn-unidades-medida">
                    <i class="fa-solid fa-ruler-horizontal"></i>
                    <span>Unidades de medida</span>
                </a></li>
                <li><a class="sidebar-link" href="/tipos-documento" id="btn-tipos-documento">
                    <i class="fa-solid fa-file-alt"></i>
                    <span>Tipos de documentos</span>
                </a></li>
            </ul>
        </div>
        <!--Content-->
        <div class="content">