:root{
    --sidebar-background-color:#212529;
    --sidebar-color:white;
    --sidebar-width: 240px;
    --sidebar-compressed-width: 50px;
    --sidebar-button-background-color:#0D6EFD;
    --sidebar-button-color:white;
}
*{
    user-select: none;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    background-color: white;
    overflow: hidden;
}
.container{
    height: 100dvh;
    display: grid;
    grid-template-columns: auto 1fr;
}
.content{
    width: 100%;
    overflow: hidden;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
header{
    background-color: #0D6EFD;
    color: white;
    height: 50px;
    padding: 5px;
    display: flex;
    align-items: center;
}
main{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: auto;
}
/*###############################-sidebar-#############################*/
.sidebar{
    width: var(--sidebar-width);
    background-color: var(--sidebar-background-color);
    color: var(--sidebar-color);
    padding: 12px;
    transition: width 1s ease,padding 1s;
    overflow: auto;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
    scrollbar-width: none;
    & hr {
        border-color: rgba(255, 255, 255, 0.238);
        margin: 10px 0px;
        transition: margin 1s;
    }
    & .sidebar-header{
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        & .logo{
            display: block;
            width: 40px;
            transition: width 1s, padding 1s;
            margin-right: 10px;
        }
        & .app-name{
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            transition:opacity 1s;
        }
    }
    & ul{
        list-style: none;
        & .sidebar-link{
            color: var(--sidebar-color);
            text-decoration: none;
            font-size: 14px;
            border-radius: 5px;
            height: 30px;
            transition: height 1s;         
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            & i{
                text-align: center;
                min-width: 40px;
                transition:min-width 1s, font-size 1s;
            }

            & span{
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                transition:opacity 1s;
            }
        }
        & .sidebar-link.selected{
            background-color:var(--sidebar-button-background-color);
            color: var(--sidebar-button-color);
        }
    }
}
@media (max-width: 780px) {
    .sidebar{
        padding: 0px !important;
        width: var(--sidebar-compressed-width) !important;
        min-width: var(--sidebar-compressed-width) !important;
        & hr{
            margin: 0px !important;
        }
        & .sidebar-header{
            & .logo{
                width: var(--sidebar-compressed-width) !important;
                padding: 10px !important;
            }
            & .app-name{
                opacity: 0 !important;
            }
        }
        & .sidebar-link{
            border-radius: 0px !important;
            height: var(--sidebar-compressed-width) !important;
            & i{
                min-width: var(--sidebar-compressed-width) !important;
                font-size: 16px !important;
            }
            & span{
                opacity: 0 !important;
            }
        }
    }
}
/*###############################-componentes-#############################*/
.main-header{
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: 10px;
}


.table-container{
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    overflow: auto;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    
    & table{
        width: 100%;
        border-collapse: collapse;
        & td,th{
            text-align: left;
            padding: 5px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 200px;
        }
        & tbody tr{
            border-top: 1px solid rgb(171, 171, 171);
        }
        & .btn-editar{
            background-color: transparent;
            padding: 0px 5px;
            border: none;
            color: rgb(81, 81, 197);
            font-weight:bold ;
            cursor: pointer;
        }
        & .btn-eliminar{
            background-color: transparent;
            padding: 0px 5px;
            border: none;
            color: rgb(252, 78, 78);
            font-weight:bold ;
            cursor: pointer;
            margin-left: 2px;
        }
        
    }
    td{
        user-select: text;
    }
}
.combo-fecha{
    margin-left: auto;
    color: black;
    display: flex;
    flex-direction: row;
    & select{
        background-color: transparent;
        outline: none;
        border: none;
        padding: 5px;
    }
    
}
#btn-nuevo{
    background-color: orange;
    color: white;
    padding: 8px 10px;
    border: none;
    border-radius: 50px;
    font-weight:bold ;
    cursor: pointer;
}
.search-box {
    align-items: center;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr auto;
    border-radius: 3px;
    overflow: hidden;
    border: 1px solid rgb(148, 148, 148);
    border-radius: 50px;

    & input {
        background-color: transparent;
        padding-left: 15px;
        border: none;
        outline: none;
        min-width: 0px;
        width: 100%;
    }
    &  button{
        background-color: transparent;
        padding: 8px;
        border: none;
        outline: none;
        cursor: pointer;
    }
}
.titulo{
    width: 100%;
    color: var(--titulo-color);
    font-weight: bold;
    font-size: 20px;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
    text-transform: uppercase;
}


.color-red{
    color: red;
}


.form-container{
    background-color: white;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 20px;
    max-width: 700px;
    width: 100%;
    margin: 0px auto;
    form{
        display: flex;
        flex-direction: column;
        gap: 20px;
        label{
            position: relative;
            input, select{
                background-color: white;
                padding: 8px;
                outline: none;
                min-width: 0px;
                width: 100%;
                border: 1px solid rgb(77, 77, 77);
            }
            span{
                background-color: white;
                position: absolute;
                top: -8px;
                left: 10px;
                font-size: 12px;
                padding: 0px 5px;
            }/*
            &:has(input:not(:placeholder-shown)) span {
                opacity: 1;
                top: -8px;
            }*/
        }
        button{
            padding: 8px;
            background-color: #0D6EFD;
            color: white;
            font-size: 15px;
            border: none;
            outline: none;
            cursor: pointer;
            border-radius: 5px;
            min-width: 0px;
            width: 100%;
            
        }
        label:has(:focus:invalid) {
            color: red;
        }
        label:has(:focus-visible:invalid) input{
            outline: none;
            border-color: red;
            outline-color: red;
        }
        label:has(:focus-visible:invalid) select{
            outline: none;
            border-color: red;
            outline-color: red;
        }
    }
}

dialog {
    margin: auto;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    padding: 20px;

    .content{
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-bottom: 20px;
    }
    .cancel-btn {
        background-color: #f44336;
        color: white;
        border: none;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        border-radius: 5px;
    }
    .accept-btn {
        background-color: #0066ff;
        color: white;
        border: none;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        border-radius: 5px;
    }
}







