<%- include('../header') %>
    <main>
        
    </main>
<script>document.getElementById("btn-index").classList.add("selected");</script>
<script  type="module" src="/js/home/index.js"></script>
<%- include('../footer') %>